* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  min-width: 1370px;
  max-height: 871px;
  margin: 0 auto; 
  }
  


h2, h3 {
  font-weight: 600;
  margin: 0; }

h2 {
  font-size: 18px;
  line-height: 20px; }

h3 {
  font-size: 15px;
  line-height: 18px; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  color: #000000;
  text-decoration: none;}

header, footer {
  display: flex;
  justify-content: center; }

header {
  height: 13.2%;
  background: #AADDFD;
  border-bottom: 1px solid #1723B2;
  position: relative;
  align-items: flex-start; }

header > img {
  margin-top: -5px;
  max-height: 100%; }

header nav {
  position: absolute;
  right: 0;
  bottom: 0; }

header nav ul {
  display: flex; }


main {
  display: flex;
  align-items: flex-start;
  flex: 1; }

main section {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%; }

.left-side-panel {
  background: #CEEBFE url('../images/left-side-menu.jpg');
  height: 100%;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover; }

.left-side-panel__nav {
  padding: 10px 20px 15px; }

.left-side-panel__nav li {
  margin-top: 5px; }

.left-side-panel__nav > li:not(:first-child) {
  margin-top: 3px; }

.left-side-panel__nav ol {
  margin-left: 20px; }

.left-side-panel__nav ol ul {
  margin-left: 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600; }

.left-side-panel__separator {
  background: #1723B2;
  height: 2px;
  margin: 10px 2px 8px; }

.left-side-panel__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%; }

.left-side-panel__form > form {
  display: flex;
  justify-content: flex-end; }

.left-side-panel__form input, .form__button{
  border: 1px solid #D3D0C9;
  background: #CEEBFE;
  height: 20px;
  width: 88px;
  margin: 2px 0; }

.left-side-panel__form label {
  cursor: pointer;
  line-height: 22px;
  font-weight: 600;
  display: block;
  margin: 2px 0; }

.left-side-panel__form-labels {
  margin-right: 8px;
  text-align: end; }

.left-side-panel__form-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.form__button {
  font-size: 14px;
  width: auto;
  padding: 0 10px; }

.content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  background: #EDF8FF; }

.content__frame {
  width: 100%;
  max-width: 69.9%;
  padding: 7px 0 7px 6px; }

.news {
  width: 30.1%;
  padding-top: 20px;
  padding-bottom: 20px; }

.news__items {
  width: 80%;
  margin-top: 30px; }

.news__item {
  display: flex;
  align-items: flex-start; }

.news__item > img {
  margin-right: 10px; }

.news__item > span {
  font-size: 15px; }

.news__item:nth-child(n+2) {
  margin-top: 25px; }

.contacts {
  background: #1723B2;
  color: #FFF;
  font-weight: 600;
  text-align: center;
  line-height: 17px; }

.contacts__address {
  margin-top: -1px; }

.contacts span {
  display: block; }

footer {
  background: #CEEBFE;
  align-items: center; }

footer ul {
  display: flex; }

footer ul li {
  margin: 2px; }

footer img {
  display: block; }