   <ul class="mainmenu">
    <li><a href="/catalog/">Продукция</a>
     <ul class="mainmenuin1">
      <li><a href="/catalog/tyres/">Шины
       <ul class="mainmenuin2">
        <li><a href="/track/">Грузовые</a></li>

        <li><a href="/car/">Легковые</a></li>
        <li><a href="/farm/">С/х техника</a></li>
       </ul>
      </li>
      <li><a href="/catalog/akb/">АКБ</li>
      <li><a href="/catalog/parts/">Автозапчасти</li>
     </ul>

    </li>
   <li><a href="/news/">Новости</a></li>
   <li><a href="/contacts/">Контакты</a></li>
  </ul>
